[2019-05-03 09:51] jaysson opened #1 "Any plans to add iOS support?"
If you are not already working on it, I can help.

[2019-05-03 10:26] jaysson opened #2 "Android X support"
To support Android X, fileprovider should be set to `android:authorities="com.freshchat.flutter_freshchat.provider"`.

[code]

[2019-05-07 14:21] fayeed commented on #1
@jaysson Yeah sure, I don't have a mac so I wasn't able to add IOS support.

[2019-05-07 14:23] fayeed commented on #2
@jaysson I make this change and push

[2019-05-07 14:36] #2 closed

[2019-05-30 10:28] jaysson commented on #1
Submitted a pull request:

https://github.com/fayeed/flutter_freshchat/pull/3

[2019-05-30 11:34] fayeed commented on #1
I have merged the #3 commit and also closing this issue.

[2019-05-30 11:34] #1 closed

[2019-06-13 17:34] daadu opened #4 "ContentProvider name clashing when 2 app with this same plugin installed"
When 2 apps with this plugin are installed on the same phone. The second app fails to install because of the provider name clashing.

[2019-06-13 17:51] daadu opened #5 "Feature Request : setting phone and phoneCountry and other arbitrary user attributes"
FreshChat has this API to set User attributes (to know more about the user in the dashboard while chatting), phone number especially is important because it is linked with other FreshWork CRM services.

[2019-06-14 06:40] fayeed commented on #5
Ok I see that I think we should have User class to handle that.

[2019-06-14 07:00] fayeed commented on #4
Thanks for reporting this. I will get back after I have tested this.

[2019-06-14 09:44] fayeed commented on #4
@daadu , I have fixed this, add this to your AndroidManifest.xml inside your `<application/>` tag:

replace the `android:authorities:"<your package URI here>.provider"`

[code]
also inside you `Strings.xml` file add this:

[code]

[2019-06-14 09:46] fayeed commented on #5
@daadu also fixed this. Added a `User `Object which you could pass to the `updateUserInfo()` method. Do check the [README.md](https://github.com/fayeed/flutter_freshchat/blob/master/README.md) for more details.

[2019-06-14 12:16] daadu commented on #4
I tested with new provider it works. Thanks for quick response.

[2019-06-14 12:17] #4 closed

[2019-06-14 12:19] daadu commented on #5
This works. Is there a way to also have custom user attributes as mentioned  in [this documentation - 3.2 Section](https://support.freshchat.com/support/solutions/articles/229319-freshchat-android-sdk-integration-steps)

[2019-06-14 12:21] fayeed commented on #5
It should but I haven't added that. I will update the code later.

[2019-06-14 12:23] daadu commented on #5
Cool. I guess should keep this issue open, I don't know iOS development - or else would have filled PR myself. Thanks again for this plugin.

[2019-06-14 12:23] fayeed commented on #5
Yeah sure, no problem.

[2019-06-14 12:26] daadu commented on #5
current changes - custom_provider_name and User properties will also work with iOS right? Seems like you haven't modified ios directory at all.

[2019-06-14 12:28] fayeed commented on #5
setting the user won't work for IOS, as I don't have a mac to test the changes.

[2019-06-14 12:30] fayeed commented on #5
maybe, @jaysson can help with this. He implemented the IOS part for this plugin

[2019-06-14 16:30] fayeed commented on #5
@daadu updated the code & can you check it on IOS and let me know if it works

[2019-06-16 23:50] daadu opened #6 "Bug: Map symbol missing in Plugin Class"
Caught the following error while `flutter build apk` .
[code]

Checked `FlutterFreshchatPlugin.java` , you forgot to import Map.

[2019-06-17 09:53] #6 closed

[2019-06-17 09:54] #5 closed

[2019-07-23 13:57] MilenaSousa opened #9 "flutter_freshchat` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod."
- `flutter_freshchat` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.
    /Library/Ruby/Gems/2.3.0/gems/cocoapods-1.7.0/lib/cocoapods/installer/xcode/target_validator.rb:122:in `verify_swift_pods_swift_vers

[2019-07-23 18:31] fayeed commented on #9
@MilenaSousa does your ios uses swift or objective-c?

[2019-07-23 19:11] MilenaSousa commented on #9
I think it is swift

here is the plugin code
https://github.com/fayeed/flutter_freshchat/tree/master/ios

Em ter, 23 de jul de 2019 às 14:31, Fayeed Pawaskar <
notifications@github.com> escreveu:

[2019-07-23 19:18] MilenaSousa commented on #9
how do i know if my ios uses swift or object-c?

Em ter, 23 de jul de 2019 às 14:31, Fayeed Pawaskar <
notifications@github.com> escreveu:

[2019-07-23 19:18] fayeed commented on #9
I researched the problem and it is something that happens with all Flutter plugins, take a look at this [flutter/flutter#25676](https://github.com/flutter/flutter/issues/25676).

The above steps should resolve this issue.

[2019-07-23 19:48] MilenaSousa commented on #9
**After I did that I had this error:**

    In file included from /Users/Milena/documents/flutter/.pub-cache/hosted/pub.dartlang.org/barcode_scan-1.0.0/ios/Classes/BarcodeScannerViewController.m:5:
    /Users/Milena/documents/flutter/.pub-cache/hosted/pub.dartlang.org/barcode_scan-1.0.0/ios/Classes/BarcodeScannerViewController.h:19:3: note: method 'initWithOptions:' declared here
      -(id) initW

[2019-07-23 19:51] MilenaSousa commented on #9
**After I did that I had this error:**

Xcode's output:
↳
    warning: no rule to process file '/Users/Milena/documents/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_freshchat-1.1.4/ios/Classes/FreshchatSDK/FreshchatModels.bundle/FreshchatModel.momd/FreshchatModel 2.omo' of type file for architecture x86_64
    warning: no rule to process file '/Users/Milena/documents/flutter/.pub-cache/hoste

[2019-07-24 05:09] fayeed commented on #9
@MilenaSousa I think I know where the problem might be, but wanted to ask you what are you updating user info? if so are you providing `customProperties` to Freshchat. The reason is that I looked through the code and I forgot to check if a `customProperies` is passed or not so if it is not passed it will crash plugin.

[2019-07-24 12:51] MilenaSousa commented on #9
I wasn't adding the customProperies yet

After i added half the errors disappeared, but there are still some

**I added this to initState:**
    FreshchatUser user = FreshchatUser.initail();
    user.email = "jhon@test.com";
    user.firstName = "jhon";
    user.lastName = "doe";
    user.phoneCountryCode = "+91";
    user.phone = "0123456789";

    Map<String, String> customProperties = Map<Strin

[2019-07-24 16:02] fayeed commented on #9
@MilenaSousa updated the plugin to `1.1.6` try this latest version should fix the problem you have

[2019-07-24 17:43] MilenaSousa commented on #9
**I updated it to 1.1.6 and now it's returned**

** BUILD FAILED **
Xcode's output:
↳
    warning: no rule to process file '/Users/Milena/documents/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_freshchat-1.1.6/ios/Classes/FreshchatSDK/FreshchatModels.bundle/FreshchatModel.momd/FreshchatModel 2.omo' of type file for architecture x86_64
    warning: no rule to process file '/Users/Milena/docume

[2019-07-24 18:08] fayeed commented on #9
@MilenaSousa I don't have a mac so I really can't debug the code myself, and I am just making changes based on the errors that you are providing me with, anyway just made a few changes and updated the library to `1.1.7` you should check it. I am going to close this issue as the original purpose of this issue is completed If this doesn't work create a new issue.
Hope this helps.

[2019-07-24 18:08] #9 closed

[2019-07-24 19:25] MilenaSousa opened #10 "crash ios version 1.1.7"
Xcode's output:
↳
    === BUILD TARGET shared_preferences OF PROJECT Pods WITH CONFIGURATION Debug ===
    warning: no rule to process file
    '/Users/Milena/documents/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_freshchat-1.1.7/ios/Classes/FreshchatSDK/FreshchatModels.bundle/FreshchatModel.momd/FreshchatModel 2.omo' of
    type file for architecture x86_64
    warning: no rule to process f

[2019-07-25 00:11] daadu opened #11 "await FlutterFreshchat.identifyUser() is returning empty string when restoreId is not passed"
[code]

returns an empty string every time instead of restoreId generated by Freshchat.

PS: I am using the free plan of FreshChat

[2019-07-25 00:22] daadu commented on #11
This was tested on Android

[2019-07-25 05:02] fayeed commented on #11
@daadu try passing an empty string rather than `null` to `restoreId`

[2019-07-25 05:19] daadu commented on #11
Strange. The Activity gets killed or something at times. Anyways, still, the same issue returning an empty string.

[2019-07-25 07:16] fayeed commented on #11
@daadu I looked through the issue it doesn't generate a `restoreId` unless you start a conversation after that if you identify the user you should get a `restoreId`. I think this has to with Freshchat, not with this plugin

[2019-07-25 07:19] fayeed commented on #11
Also, you can pass `null` to the `identifyUser` method that should work too.

[2019-07-25 07:52] daadu commented on #11
Strange! anyways I will implement that way and test.Till then keep this issue open.

[2019-07-25 07:54] daadu commented on #11
In my current flow, I identify -> then add user detail -> then start conversation. I guess I should add user detail -> then start conversation -> then identify.

[2019-07-25 08:01] fayeed commented on #11
This will also wont work if you are trying to sync conversations so I think the best way would be to check if the user has a `restoreId` stored locally or the server if he has identify the user or if not start the conversation and then identify.

[2019-07-30 05:56] fayeed commented on #11
@daadu going to close this issue if the problem persists feel free to open the issue again

[2019-09-04 10:19] kaumudpa opened #12 "Does this plugin support push notifications?"
Unable to send push notifications, Please let me know if this supports it? if yes - any specific process to implement push notifications FCM

[2019-09-05 11:18] fayeed commented on #12
Well did you use `setupPushNotifications` you will need to pass the `pushToken` to it that should work I guess.

[2019-09-05 13:22] kaumudpa commented on #12
I tried it, but unable to use it! Can you give it a try?

[2019-09-08 18:44] fayeed commented on #12
I don't have the time right to look into this issue, so I will keep this issue open till I fixed it or maybe someone else.

[2019-09-09 14:50] fayeed commented on #10
@MilenaSousa just updated the package `1.2.0`. If you are still looking to use it it should work now, also updated the documentation with some specific instruction for ios.

[2019-09-29 21:44] daadu opened #14 "Migrate to AndroidX"
**Is your feature request related to a problem? Please describe.**
Migrating to AndroidX is inevitable!!

**Describe the solution you'd like**
Update the freshdesk android dependency to the latest version. I had requested this to the freshdesk team they now support AndroidX. Check [this issue](https://github.com/freshdesk/freshchat-android/issues/49)

**Describe alternatives you've considered**
Ni

[2019-09-30 06:32] fayeed commented on #14
I will update the Freshchat SDK to version `2.9.0`. But if you are facing problems in the meantime have you tried adding these properties to `gradle.properties`

[code]

[2019-09-30 21:32] savy-91 opened #15 "Crash on iOS"
Hi, I'm currently experiencing crashes on iOS. I am running the latest available version of the package from pub.dev and no errors on the android build of my app.

Here is the error I face whenever I try to show the FAQs:
[code]

Here is the code needed to replicate the error above:
[code]
If I uncomment the remaining lines in initChat() then the app crashes earlier without writing any debug infor

[2019-10-04 15:28] fayeed commented on #14
@daadu Updated the package to version `1.2.1` this includes the new Freshchat android version `2.9.0`.

[2019-10-04 18:34] fayeed commented on #15
@savy-91 the problem was caused in the `updateUserInfo` method where if the `custom_property_list` was not provided It would crash the app, just release a new version `1.2.1` that should fix the problem for you.

[2019-10-04 19:10] savy-91 commented on #15
Cool! I'll test it later today and let you know, thanks a lot

[2019-10-04 19:56] savy-91 commented on #15
I just tried and unfortunately it still crashes when I show the FAQs with the setup above

[2019-10-07 10:37] fayeed commented on #15
@savy-91 I was testing the `showFAQs` method and it seems to be working when there are no FAQs configured. As I don't have a paid membership to freshchat I am not able to test with FAQs configured and I think you might be facing the problem something related to that.

Anyway I will keep this issue open so someone else can fix this or maybe I will.

[2019-10-21 06:53] narimetisaigopi opened #16 "App getiing crash when opening chat screen"
logs

Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'androidx.lifecycle.Lifecycle$State androidx.lifecycle.Lifecycle.getCurrentState()' on a null object reference

using 1.2.1 version

[2019-11-03 10:33] daadu commented on #11
@fayeed Not working. Sorry for responding late.

Empty string returned by `FlutterFreshchat.identifyUser` even after a conversation is initiated and responded.

[2019-11-05 10:54] savy-91 commented on #15
It never occurred again, I would say this can be closed. Thanks for the help!

[2019-11-05 10:54] #15 closed

[2019-11-05 10:56] savy-91 opened #17 "DISCUSSION on duplicated info.plist error"
Hi! Do you have any idea how the error related to the duplicated info.plist could be fixed once and for good?

We are moving towards CI/CD and having this error always breaks the build, I'd be glad to help but I have no idea where to start looking :)

[2019-11-08 17:25] fayeed commented on #11
I have re-opened this issue again but I don't have time to work on it if you can fix this please do create a pull request or wait till someone else or I fix this.

[2019-11-08 17:36] fayeed commented on #17
@savy-91 As mentioned in the README this has something to do with Freshchat IOS SDK, It might be resolved by removing the `Info.plist` file in the framework, I haven't tried it yet so I don't know if it would break the SDK or not. I was going to update the Freshchat IOS SDK so I will take a look at it at that time.

[2019-11-08 17:41] fayeed commented on #16
Did you follow the instructions mentioned in the README.md? if yes this should happen.

Also, try adding these properties to `gradle.properties`

[code]

[2019-11-13 15:57] fayeed commented on #17
Hi, @savy-91 I have fixed this issue by removing the two extra `info.plist` present in the Freshchat-IOS SDK. You can check this `1.2.2` version of the package for this fix.

If you encounter this problem or some other due to the changes do let me know.

[2019-11-13 16:10] fayeed commented on #11
@daadu I just checked this issue I see no problem, It might be because you also need to update the user info.

Here I tested it and its working:
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-11-13 at 21 39 17](https://user-images.githubusercontent.com/8464270/68781615-0e9bb780-065e-11ea-8698-a5143a427d41.png)

[2019-11-13 18:19] savy-91 commented on #17
I confirm this solved the issue, thanks a lot again!

[2019-11-13 18:19] #17 closed

[2019-11-25 20:28] savy-91 commented on #12
I  can confirm I cannot manage to enable push notifications. At the moment I can't look into it, but I might be able to help soon

[2019-11-26 03:29] fayeed commented on #12
I did checked the push notification and it seems to work on IOS, didn't get to check on android, can you also check on IOS and let me know.

[2019-12-02 12:32] rahuldange09 opened #19 "Option to disable upload picture from gallery"
Is it possible to add parameter to disable 'Upload from gallery' option same like camera.
It would be great if option is there to disable that.

[2019-12-04 09:00] fayeed commented on #19
@rahuldange09 I have updated the package to `1.2.4` with all the supported properties of `FreshchatConfig`.

[2019-12-08 08:28] #19 closed

[2019-12-08 10:20] rahuldange09 commented on #19
Well Thanks for quick change. 👍

[2019-12-09 06:25] daadu commented on #11
getting an empty string from `identifyUser` for my credentials. My freshchat account is on the free plan (not trial). I am guessing the issue could be related to this.

[2019-12-11 05:43] amitkhairnar44 commented on #14
@fayeed Please migrate it to **AndroidX**
App is crashing at start and the app is already migrated to AndroidX.

[code]

[2019-12-11 06:42] fayeed commented on #14
@amitkhairnar44 you just need to change this line in `AndroidManifest.xml`.

From this:
[code]

To this:
[code]

[2019-12-11 07:00] amitkhairnar44 commented on #14
@fayeed Thank you
Issue is resolved now

Please update the documentation

[2019-12-13 04:46] amitkhairnar44 opened #20 "iOS release build fails after adding Freshchat plugin"
iOS release build fails but debug build is working.

Here's the log:
[code]

[2019-12-24 17:50] amitkhairnar44 commented on #20
Issue fixed after updating Xcode to 11.3

[2019-12-24 17:50] #20 closed

[2019-12-28 12:50] jokonugr opened #22 "Error when 'flutter build ios'"
error: Unexpected duplicate tasks:
    1) Target 'flutter_freshchat' (project 'Pods') has copy command from 'flutter/.pub-cache/hosted/pub.dartlang.org/flutter_freshchat-1.2.5/ios/Classes/FreshchatSDK/FCResources.bundle/Images/freshchat_channels_image@3x.png' to
    'build/ios/Release-iphoneos/flutter_freshchat/flutter_freshchat.framework/freshchat_channels_image@3x.png'
    2) Target 'flutter_fre

[2020-01-02 04:04] sohampandya00 opened #23 "Getting Errors while running Demo. (can not find symbols.)[BUG]"
I am trying run demo and facing following errors.

[code]

[2020-01-02 11:02] thecoffeehog commented on #23
I am also getting similar errors.

[2020-01-02 12:35] thecoffeehog commented on #23
I tried to do integrate in my own app since it failed on the Demo app and I am still getting the same errors.

[code]

[2020-01-03 12:16] kulharniru commented on #23
Hi this has been fixed in my fork repo kulharniru/flutter_freshchat just waiting for the review and accept my merge

[2020-01-07 15:53] kulharniru commented on #22
i was able to fix this issue by following these steps
1. add  #import "FlutterFreshchatPlugin.h" in your bridging header file it will be in runner folder named something like Runner-Bridging-Header.h
2. open xcode go to file> Workspace settings > choose Legacy build system

hope this would help
<img width="522" alt="Screenshot 2020-01-07 at 21 23 00" src="https://user-images.githubusercontent.com/

[2020-01-08 02:38] jokonugr commented on #22
Thank you @kulharniru
It is still error to my other plugin when I changed the Build System to "Legacy Build System"

I prefer choose use New Build System if any other solution.

[2020-01-08 04:33] fayeed commented on #23
@sohampandya00 @thecoffeehog just merged the pull request by @kulharniru this should fix this issue.

[2020-01-08 13:47] #23 closed

[2020-01-20 09:30] #14 closed

[2020-01-25 04:53] #16 closed

[2020-01-30 19:35] naren7229 commented on #22
same issue build fails
error: Unexpected duplicate tasks:

cannot use legacy since there are other plugins which are dependent on new build system

[2020-02-04 10:58] chaitanya-y opened #25 "How to generate restoreId in flutter fresh chat(getting empty string)?"
I checked some issues online.someone mentioned that restoreId will get generated only after first was sent.I tried to call send message function and then did identify user .Still, I am getting restoreId as empty string.

      FreshchatUser user = FreshchatUser.initail();
      user.email = email;
      user.firstName = firstName;
      user.lastName = lastName;
      user.phoneCountryCode = '91';

[2020-02-05 22:30] doppio opened #26 "Add web support"
It would be nice if this plugin supported the Freshdesk web SDK through the same API as it uses for iOS/Android. With Flutter web support in beta, it would be useful to make this plugin more cross-platform.

I may eventually implement this myself when I need it for my project, but that won't be for 6-12 months.

[2020-02-06 10:23] MaxiakaLimit opened #27 "The attachment icon isn't displayed on the iPhone"
<img width="313" alt="1" src="https://user-images.githubusercontent.com/8420608/73928061-8ab33d80-48e3-11ea-88d3-96158f052a9f.png">

[2020-02-06 15:45] deebhasin commented on #11
I am also facing the same issue...did you find a fix?

[2020-02-07 08:06] daadu commented on #11
No, it looks like the issue because of free plan. Although not sure.

[2020-02-08 02:11] chaitanya-y commented on #26
How to generate restoreId in flutter fresh chat(getting empty string)?

I checked some issues online.someone mentioned that restoreId will get generated only after first was sent.I tried to call send message function and then did identify user .Still, I am getting restoreId as empty string.

  FreshchatUser user = FreshchatUser.initail();
  user.email = email;
  user.firstName = firstName;
  user.

[2020-02-08 02:11] chaitanya-y commented on #27
How to generate restoreId in flutter fresh chat(getting empty string)?

I checked some issues online.someone mentioned that restoreId will get generated only after first was sent.I tried to call send message function and then did identify user .Still, I am getting restoreId as empty string.

FreshchatUser user = FreshchatUser.initail();
user.email = email;
user.firstName = firstName;
user.lastName

[2020-02-08 16:28] doppio commented on #26
@chaitanya-y You should file a new issue for that or ask on Stack overflow, this issue is about adding web support to the package.

[2020-02-10 06:46] fayeed commented on #25
@chaitanya-y I have not been able to reproduce this issue I don't what the reason is, there is already an open issue #11 you can try there also if this package doesn't work for you there is also one more package [freshchat](https://github.com/archie-sh/freshchat) Its a forked repository of this repository.

Also one more thing please don't spam other issues if you don't receive a reply.

[2020-02-10 06:48] fayeed commented on #26
@doppio I haven't looked at the Freshchat web SDK or don't know much about it but I might integrate if enough people request it.

[2020-02-10 06:51] fayeed commented on #25
@chaitanya-y You could also check [this](https://github.com/freshdesk/freshchat-ios/issues/85#issuecomment-582431940).

[2020-02-10 06:52] fayeed commented on #25
@chaitanya-y you can also check this [issue](https://github.com/freshdesk/freshchat-ios/issues/85#issuecomment-582431940)

[2020-02-10 06:54] fayeed commented on #27
@MaxiakaLimit This has to do with Freshchat itself and not this package.

[2020-02-11 07:07] nimi0112 commented on #22
I resolved this by running `pod install` in the iOS folder.

[2020-02-11 21:59] naren7229 commented on #22
I tried but this doesn't work when your trying to build app
flutter build ios

it only works when you are running in your local

[2020-02-11 22:13] naren7229 commented on #27
I got the same issue its due to the build system in iOS
works in local but doesn't load any icons
fails to build app for release

[2020-02-12 11:11] BhaveshSachala opened #28 "[BUG] app crashes by tapping on update user item on iOS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-02-12 11:25] thecoffeehog commented on #27
@fayeed How do you suggest we deal with this?

[2020-02-12 11:46] fayeed commented on #27
As this is the problem with the IOS SDK itself you will have to wait for the Freshchat team to fix this problem, I would have submitted a PR but I don't know much about IOS dev.
You could create an issue on their repository asking to fix this.

Right now if its an option, you could disable the camera & gallery options while initializing the SDK this will remove the icon from there.

[2020-02-12 13:03] thecoffeehog commented on #27
Thanks @fayeed for the quick response. I will raise this with Freshchat and let's see how quickly they take it up.

Also a big thank you for building this plugin :)

[2020-02-12 15:32] thecoffeehog commented on #27
@fayeed The team at Freshchat wants to know which version of the SDK we are using, can you please confirm?

[2020-02-12 16:55] thecoffeehog commented on #22
@naren7229 Did you find a solution?

[2020-02-12 18:01] naren7229 commented on #22
I tried like updating project to latest and updating fresh chat sdk but I didn't get any positive results

I'm no expert in iOS so unable to figure out

eagerly waiting for a solution

[2020-02-12 20:05] naren7229 commented on #27
I think he is using 2.9.0

[2020-02-13 02:55] thecoffeehog commented on #22
Same here @naren7229 I am not an expert on iOS either.

[2020-02-13 04:43] fayeed commented on #27
I am using v2.9.0.

[2020-02-13 05:13] thecoffeehog commented on #27
@fayeed Perfect! We have communicated the same to the Freshchat team.

[2020-02-13 09:45] thecoffeehog commented on #27
https://github.com/freshdesk/freshchat-ios/issues/93#issuecomment-585572143

[2020-02-14 00:24] tonuegbu commented on #22
Having this issue just now.
Has anyone figured it out, please?

[2020-02-14 02:06] thecoffeehog commented on #22
Nope @tonuegbu, we are also waiting for a fix.

[2020-02-14 06:57] kulharniru commented on #22
guys can you provide with screen shots what error are you getting when
running the flutter build ios command

it works for me

On Fri, Feb 14, 2020 at 7:36 AM Udit Chugh <notifications@github.com> wrote:

[2020-02-14 08:47] tonuegbu commented on #22
This is what worked for me. Under the flutter_freshchat Target in Pods, delete the files causing the error under "Compile Sources" in Build Phases.
<img width="1298" alt="Screenshot 2020-02-14 at 09 45 26" src="https://user-images.githubusercontent.com/50661621/74515500-f82c2300-4f0e-11ea-8f7d-dd52130fe375.png">

[2020-02-14 11:07] thecoffeehog commented on #22
Thanks! @tonuegbu This worked for me, I just kept the files you have kept in the screenshot and deleted the screenshot.

@fayeed can this be made into the plugin itself?

[2020-02-14 11:20] tonuegbu commented on #22
I'm glad I could be of help!

[2020-02-14 11:53] fayeed commented on #22
@thecoffeehog, @naren7229  Right now, this packages has a Freshchat IOS SDK as a local dependency that might be the cause of this problem so what happens is when you install the package its creating duplicate files. But if I remove the file that's breaking the build will break this package as it won't be able to find these files.

Anyway, I am no expert in IOS dev but I think installing it using `

[2020-02-14 16:29] tonuegbu commented on #27
Would try this later to see if it fixes it. I don't recall deleting that bundle, however.

[2020-02-15 10:26] thecoffeehog commented on #27
Sure, thanks @tonuegbu :)

[2020-02-15 10:28] thecoffeehog commented on #22
Thanks @fayeed, I am not an iOS expert either otherwise would have definitely looked into this. But yes, for the time being, will continue with @tonuegbu's solution.

[2020-02-15 22:01] naren7229 commented on #27
@tonuegbu I think its something to do with podspec

[2020-02-18 09:13] MuhammedRefaat commented on #12
Actually it's not working on my side also, I tried with both Android & ios.

[2020-02-26 05:28] ubaidsuhail opened #30 "get unread message count is not working in my app in freshchat?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-26 06:41] #30 closed

[2020-02-26 08:06] mohdkhmais commented on #22
App still crashing on the first launch , i updated the podspec manually for freshchat but still getting this crash. Also, i tried doing @tonuegbu solution but no use same thing.

`+[UIImage fd_imageWithData:]: unrecognized selector sent to class 0x7fff898bd368
2020-02-26 11:03:29.520441+0300 Runner[63109:304680] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+

[2020-03-02 05:18] mohdkhmais commented on #22
@fayeed can you please take a look at the last post i posted. the app crashes on the first launch in IOS only android works fine.

[2020-03-02 06:38] fayeed commented on #22
Is your app crashing in dev or production or both? If it's just crashing in dev see if you have followed all the steps mentioned in [Readme.md](https://github.com/fayeed/flutter_freshchat/blob/master/README.md) correctly.

[2020-03-02 10:43] mohdkhmais commented on #22
@fayeed  it's crashing in production..

[2020-03-02 10:55] mohdkhmais commented on #22
@fayeed  even i tried running the example that comes with the SDK , same thing crashing.

[2020-03-04 02:09] nihalreddy33 commented on #27
@thecoffeehog were you able to find a workaround for this issue?

[2020-03-04 02:22] thecoffeehog commented on #27
No. I had to use it like that only.

On Wed, 4 Mar, 2020, 7:39 AM Nihal Reddy Gurrala, <notifications@github.com>
wrote:

[2020-03-05 10:36] mohdkhmais opened #31 "[BUG] Crash in iOS when calling FlutterFreshchat"
**Describe the bug**
When you open the app for the first time it crashes with this error below. ( I am using flutter_freshchat version 1.2.6)

**Desktop (please complete the following information):**
 - OS: MacOS Catalina Version: 10.15.2
 - Device: All iPhone devices + simulators

**Flutter doctor -v**

[✓] Flutter (Channel stable, v1.12.13+hotfix.8, on Mac OS X 10.15.2 19C57, locale en-BH)
    •

[2020-03-06 12:20] nihalreddy33 commented on #27
@thecoffeehog the build isn't working when I do flutter build ios. Please let me know if there any solution for it.
/build/ios/Release-iphoneos/flutter_freshchat/flutter_freshchat.framework/freshchat_channels_image@3x.png
    Command /Applications/Xcode.app/Contents/Developer/usr/bin/copypng failed with exit code 1

[2020-03-12 10:53] nimi0112 commented on #31
Hi, @mohdkhmais  did you resolve this issue? I am also facing this

[2020-03-12 10:59] mohdkhmais commented on #31
Hi @nimi0112 still i am waiting for @fayeed  to replay. I tried contacting him on email and here still no luck. I need the fix also for my company app. I tried myself to investigate through the code but no luck because i am not familiar with swift. Hope @fayeed  can fix it asap.

[2020-03-12 12:24] nimi0112 commented on #31
Steps to reproduce:

 1.  Clone the sample app.
 2. Replace your Feshchat API keys.
 3. Run the iOS app in the simulator or real device.
 3. Update user info in the app.
 4. Select show conversation.
 5. Send a message to the dashboard.
 6. Reply to the message from the dashboard and the app crashes.
 7. Open the show conversation screen again and the app again crashes.

I also have allowed notifi

[2020-03-12 12:30] mohdkhmais commented on #31
@nimi0112 even if you are using auto message (when you set auto message when you are not in office time) you will have a crash whenever you receive a message from the agent.

[2020-03-14 13:34] jokonugr commented on #22
I have followed @tonuegbu by removed everything unless the following list before flutter build ios
![Screen Shot 2020-03-14 at 20 32 42](https://user-images.githubusercontent.com/38367561/76682978-031fc380-6633-11ea-879b-8340dcb3ceaa.png)

[2020-03-15 06:09] mohdkhmais commented on #22
@jokonugr It is building fine even in archiving. In both dev and production it's still crashing. Checkout this post #31

[2020-03-21 15:57] rahuldange09 commented on #31
Anyone resolved this issue? any changes?

[2020-03-30 05:10] mohdkhmais commented on #31
@rahuldange09  no still waiting i tried contacting him via email no response..

[2020-04-03 11:25] fayeed commented on #27
I have updated the package to `1.3.0` this should resolve this issue.

[2020-04-03 11:25] #28 closed

[2020-04-03 11:26] fayeed commented on #31
I have updated the package to `1.3.0`. Check if this resolves the issue and let me know.

[2020-04-03 11:31] fayeed commented on #22
Hey Guys, I have updated the package to `1.3.0`, I have removed the local files for FreshchatSDK and replaced with pod dependency, this resolves issue #27.

I am hoping this also resolves this issue I wasn't able to test it for production though. If someone can test and let me know that would be great.

[2020-04-05 05:30] mohdkhmais commented on #31
Hi @fayeed  I updated the version but i am getting this from xcode
`error: include of non-modular header inside framework module 'flutter_freshchat.FlutterFreshchatPlugin': '/Users/dev/Desktop/flutterApps/homiez-mobile/ios/Pods/FreshchatSDK/FreshchatSDK/FreshchatSDK.h'
#import "FreshchatSDK.h"
        ^
<unknown>:0: error: could not build Objective-C module 'flutter_freshchat'`

[2020-04-05 06:04] mohdkhmais commented on #31
@fayeed  Here's a screenshot [Image](https://ibb.co/r6S1w1R)

[2020-04-05 13:30] rahuldange09 commented on #31
@fayeed thanks for updating package. We really appreciate your efforts. As @mohdkhmais mentioned I'm also facing same error. Can you please help with it and fix this error.

And just to mention v1.2.6 and before we used to get force closes specially on FAQ screen. It was related to some UIImage thing as It was only causing when there was FAQ data but if its empty then it wasn't force closing.

[2020-04-06 18:12] krel024 opened #32 "Customization through dart code"
Currently I can not find how to customize the theme.

It will be nice to have a way to customize the freshchat as they explain in their documentation.

Example:
[code]

[2020-04-08 13:03] nihalreddy33 commented on #27
@fayeed we are still facing issues even after updating.
    <module-includes>:1:9: note: in file included from <module-includes>:1:
    #import "Headers/flutter_freshchat-umbrella.h"
            ^
  /ios/Pods/Target Support Files/flutter_freshchat/flutter_freshchat-umbrella.h:13:9: note: in file included from
    /ios/Pods/Target Support Files/flutter_freshchat/flutter_freshchat-umbrella.h:13:

[2020-04-08 16:54] krel024 opened #33 "Could not build Objective-C module 'flutter_freshchat'"
This is happening since version 1.3.0.
[code]
**Desktop (please complete the following information):**
 - OS: Mac
 - Device: IOS Simulator
 - Version: 13.4

[2020-04-12 00:30] rahuldange09 commented on #31
You got any solution on this?

[2020-04-12 05:01] mohdkhmais commented on #31
@rahuldange09  still waiting for @fayeed

[2020-04-13 03:00] nimi0112 commented on #33
I am also facing the same in version 1.3.0. I can't even run the sample app.

[2020-04-14 10:21] ccfiel commented on #32
yes this would be a great feature.

[2020-04-14 15:36] fayeed commented on #32
@krel024 @ccfiel This is not possible with Flutter right now as you need to add Custom themes at native level you can refer the docs for [IOS](https://support.freshchat.com/support/solutions/articles/229814-freshchat-ios-sdk-themes) & [Android](https://support.freshchat.com/support/solutions/articles/229492-freshchat-android-sdk-themes-and-customizations) here.

[2020-04-14 20:00] ccfiel commented on #32
@fayeed thanks for the update! ☺️

[2020-04-16 07:28] lessthanno opened #34 "[BUG] The whole new version（v1.3.0） is wrong"
**Desktop (please complete the following information):**
 - OS: [e.g. Mac]
 - Device: [e.g. iPhoneX] | Emulator
 - Version [e.g. 1.3.0]

**Additional context**'

Comparison of versions

v 1.3.0
![image](https://user-images.githubusercontent.com/6271483/79426907-6e740100-7ff6-11ea-92bd-6d8e7453e9e7.png)

v 1.2.6
![image](https://user-images.githubusercontent.com/6271483/79427077-aa0ecb00-7ff6-11ea-

[2020-04-16 07:31] lessthanno commented on #33
I made a version comparison https://github.com/fayeed/flutter_freshchat/issues/34

[2020-04-16 07:32] lessthanno commented on #31
I made a version comparison https://github.com/fayeed/flutter_freshchat/issues/34

[2020-04-16 07:32] lessthanno commented on #22
I made a version comparison https://github.com/fayeed/flutter_freshchat/issues/34

[2020-04-17 03:40] ccfiel commented on #34
I have same problem

[2020-04-17 05:22] lessthanno commented on #34
now.I try to change pod/development pods/flutter_freshchat file and update freshchat sdk to 3.4.0

![image](https://user-images.githubusercontent.com/6271483/79534801-2adcce00-80ae-11ea-95c9-011c5a27e145.png)

Temporarily so useful！！！

[2020-04-17 06:20] ccfiel commented on #34
@lessthanno its already 3.4 in version 1.3.0. What version are you?

https://github.com/fayeed/flutter_freshchat/blob/master/ios/flutter_freshchat.podspec#L14

[2020-04-17 06:30] lessthanno commented on #34
I use version 1.2.6

[2020-04-17 06:46] lessthanno opened #35 "[BUG]In android: switch to the background and restart after switching back to the foreground"
**Expected behavior**

Switch to the background and restart after switching back to the foreground!!!!

**Desktop (please complete the following information):**
 - OS:  Mac
 - Device:  Android  Red 8
 - Version  1.2.6

[2020-04-20 09:05] mohdkhmais commented on #34
@lessthanno any solution yet ?

[2020-04-24 04:41] daadu commented on #22
I am not an iOS expert either!!

Inspired by the workaround: https://github.com/fayeed/flutter_freshchat/issues/22#issuecomment-586158563

I have changed the podspec files to only use `*.h`, `.m` and `*.swift` as sources for the pod.

The build is not failing with the new podspec.

I would recommend everyone to try it out my forked repo by changing `pubspec.yaml` with following:
[code]

let me kno

[2020-04-24 05:07] daadu commented on #34
@mohdkhmais I have filed PR #36

I would encourage you to test it on your build by adding this to your pubspec.yaml

[code]

[2020-04-24 07:08] lessthanno commented on #34
Cool ！！this bug is  fixed ！！！THX

[2020-04-25 20:28] rahuldange09 commented on #31
I got a workaround for this issue on latest version 1.3.0.
Note : This will not work if you want to debug app.
And Great thanks to @fayeed. This version does not cause any problem with app. No force closes nothing at all.

Steps:
1.  Update to 1.3.0
2.  Flutter clean (optional)
3.  Open terminal in your app folder then cd ios then pod install
5.  Open Xcode and in Left side panel
6.  In that panel

[2020-04-26 04:15] lessthanno commented on #31
It's fixed https://github.com/fayeed/flutter_freshchat/issues/34#issuecomment-618804254

[2020-04-26 06:23] mohdkhmais commented on #34
Hi @lessthanno i have just tried your version but no luck

`2020-04-26 09:21:19.056883+0300 Runner[9716:55006] +[UIImage fd_imageWithData:]: unrecognized selector sent to class 0x7fff897b0d10
2020-04-26 09:21:19.078244+0300 Runner[9716:55006] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[UIImage fd_imageWithData:]: unrecognized selector sent to class 0x7fff

[2020-04-26 06:41] rahuldange09 commented on #31
I tried that still has force close issue.

[2020-04-26 06:43] rahuldange09 commented on #34
Hi, @mohdkhmais
Please try this and check if it works
https://github.com/fayeed/flutter_freshchat/issues/31#issuecomment-619436356

[2020-04-26 07:32] mohdkhmais commented on #31
@rahuldange09 I tried it and it works. Many thanks to @rahuldange09 , @fayeed and all others.

[2020-04-26 11:42] mohdkhmais commented on #31
@rahuldange09 i am getting this while trying to archive the app , [checkout the screenshot](https://ibb.co/FbC433X)

[2020-04-26 12:31] rahuldange09 commented on #31
Make it public again and make sure u have legacy build system selected

[2020-04-26 13:11] daadu commented on #34
@mohdkhmais Looks like it is crashing of some other reason. I am not an iOS developer

[2020-04-26 15:06] Sagar268380 commented on #19
my  faqs button is not working i don't know why

[2020-04-26 15:08] Sagar268380 opened #37 "FAQs"
my faqs button and notification button is not work please help me

[2020-04-27 05:30] mohdkhmais commented on #31
Hi Rahul,

Thank you it is working.

On Apr 26, 2020, at 3:31 PM, Rahul Dange <notifications@github.com<mailto:notifications@github.com>> wrote:

@rahuldange09<https://github.com/rahuldange09> i am getting this while trying to archive the app , checkout the screenshot<https://ibb.co/FbC433X>

Make it public again and make sure u have legacy build system selected

—
You are receiving this because y

[2020-04-27 05:30] #31 closed

[2020-05-07 07:30] jun1044896742 commented on #31
Hi @rahuldange09 ,

Thank you it is working.

[2020-05-07 21:31] Syaba999 commented on #12
I think I solved it for Android.
1. Add dependency in `<app-name>/android/app/build.gradle`

[code]

2. Create `FreshchatMessagingService.java` (Java, not Kotlin) class to your app in the same directory as your `MainActivity` class

[code]

3. In `AndroidManifest.xml` add

[code]

4. In your `Application` class change
[code]
to
[code]

It's work for me.

[2020-05-08 07:28] savy-91 commented on #12
Thanks @Syaba999 , this actually works on Android!

[2020-05-08 09:01] savy-91 commented on #12
@fayeed are you sure that the push notifications work on iOS?

[2020-05-13 12:46] colkencon opened #39 "App crashes when FlutterFreshchat.showConversations() or FlutterFreshchat.showFAQs() is called on androidx"
when FlutterFreshchat.showConversations() or FlutterFreshchat.showFAQs(), it throws an exception and crashes the app. Kindly assist

Version Used
flutter_freshchat: ^1.3.0

            android:name="androidx.core.content.FileProvider"
            android:authorities="com.freshchat.flutter_freshchat.provider"
            android:exported="false"
            android:grantUriPermissions="true">

[2020-05-15 07:14] #32 closed

[2020-05-15 07:16] #34 closed

[2020-05-15 07:17] fayeed commented on #33
@krel024 take a look at issue #31 it should resolve this issue and I am closing this.

[2020-05-15 07:17] #33 closed

[2020-05-15 07:18] #27 closed

[2020-05-15 07:19] #25 closed

[2020-05-15 07:23] smkhalsa commented on #34
@fayeed has this been fixed?

[2020-05-15 07:23] fayeed commented on #34
@smkhalsa Yeah check the pinned issue #31

[2020-05-18 10:01] kaumudpa commented on #22
@daadu Your Solution is working on ios even with New Build System.

[2020-06-02 06:55] naiduasn opened #40 "Infinite Loading - Missing Domain Config - freshchatInit"
**Describe the bug**
I was trying to use freshchat domain in the config to address below issue
https://github.com/freshdesk/freshchat-android/issues/61

but i do not see an option in this lib.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
config should be available to add domain

**Additional context**
Add any other context about the problem here.

[2020-06-05 02:25] nimi0112 commented on #31
@mohdkhmais  @rahuldange09 @fayeed  Not Working for me. It is giving this error:

<img width="982" alt="Screenshot 2020-06-05 at 7 54 37 AM" src="https://user-images.githubusercontent.com/16234261/83830015-cfb87680-a701-11ea-9d7c-ede99eba7aba.png">

[2020-06-05 07:04] rahuldange09 commented on #31
Which flutter sdk version u using?

[2020-06-05 14:40] VytorCalixto opened #42 "[BUG] Unsupported version of Picaso found"
**Describe the bug**
The packages throws an "Unsupported version of Picaso found." error and doesn't initialize.

**To Reproduce**
Steps to reproduce the behavior:
Add the FlutterFreshchat and call the init method. The error below should appear.

Error log:
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Device: Samsung A10
 - Package Version 1.3.0
- Flutter versi

[2020-06-06 04:27] fayeed commented on #42
@VytorCalixto Thanks for reporting this issue it was a problem with Freshchat Andriod SDK here's the issue: https://github.com/freshdesk/freshchat-android/issues/46#issuecomment-493979741

It's an easy fix I will update the package and let you know.

[2020-06-06 17:15] lakshyapunhani commented on #42
Unhandled Exception: PlatformException(error, Unsupported version of Picasso found. Please create and set custom Image loader using Freshchat.setImageLoader()., null)

[2020-06-08 04:11] #42 closed

[2020-06-08 04:13] fayeed commented on #42
@VytorCalixto @lakshyapunhani I was not able to reproduce this error on my end but since there was an issue in the official Freshchat android plugin, I have implemented the fix they mentioned. That should fix the problem.

[2020-06-08 04:13] fayeed commented on #40
@naiduasn Merged your PR and have released a new version `1.3.1`

[2020-06-08 04:13] #40 closed

[2020-06-08 04:16] fayeed commented on #39
@colkencon I think this has something to do with `androidx`, I just released a new version can you try that `1.3.1`

[2020-06-10 13:41] shredding opened #43 "[BUG] Linked Article does not exists ..."
https://support.freshchat.com/support/solutions/articles/229192 ...

leads to a 404

[2020-06-22 10:56] jun1044896742 commented on #31
Update to 1.3.0 ，not  1.3.1

[2020-06-22 10:57] jun1044896742 commented on #31
Update to 1.3.0 ，not 1.3.1

[2020-06-23 05:22] rahuldange09 commented on #11
As per docs. Restore Id is asynchronous and typically only initiated when conversion starts for first time.
So as per their sample app and docs. We have to create Broadcast receiver on android so when it's created for first time. It will be passed by broadcast receiver. (I'm not sure of ios though)
And then from native android we can call a flutter method which will give restore id when it becomes

[2020-06-25 09:32] alhasan-s-aboobaid opened #45 "open conversations screen"
when i open conversations screen it does not open a list of conversations, it take me directly to messages screen. how to show a list of conversations?

[2020-06-25 13:55] fayeed commented on #45
You need to do this on the Freshchat side refer to their docs.

Note | Only Message Channels with visibility set to "Visible to all users" will be displayed when using showConversations() API
-- | --

[2020-06-25 13:55] #45 closed

[2020-07-02 20:49] olaide-ekolere commented on #42
To reproduce, use firebase-in-app-messaging in pubspec

[2020-07-02 20:53] olaide-ekolere commented on #39
I resolved this issue by first adding xmlns:tools="http://schemas.android.com/tools" to the manifest tag in the AndroidManifest.xml then add tools:replace="android:authorities" to the provider tag then tools:replace="android:resource" to the meta-data tag in the provider tag should resolve the problem.

[2020-07-06 09:43] dot-wei opened #46 "[BUG] Not build Objective-C module 'flutter_freshchat'"
**Describe the bug**
[code]
**To Reproduce**
I don't know much about IOS, so follow the flow of IOS in README.

**Desktop**
 - OS: [Mac]
 - Device: iPhoneX
 - Version Flutter (Channel stable, v1.17.4, on Mac OS X 10.15.5 19F101)

[2020-07-14 18:36] GuruJohn commented on #46
Seeing the same problem when trying to build the example.

[2020-07-15 02:13] fayeed commented on #46
@GuruJohn @dot-wei Take a look at issue #31 that should fix the issue.

[2020-07-15 09:51] dot-wei commented on #46
I tried to use the solution in this isuue, but failed. Later, I decide used it with the object-c version of the repository fork. Thank you for your reply.

[2020-07-15 09:51] #46 closed

[2020-07-17 08:26] #39 closed

[2020-07-17 08:26] #37 closed

[2020-07-22 07:41] anmolresourceone opened #47 "[iOS version of fresh chat doesn't show the resources like icons and background]"

[2020-07-28 18:38] rusowyler commented on #47
Same problem! Any idea?

[2020-07-29 15:22] Ciock commented on #12
@Syaba999 got it on Android, thanks!

But for me iOS push never arrive

[2020-07-31 02:43] fayeed commented on #12
@Syaba999 Would you be open to create a PR to add this in the Readme?

[2020-07-31 11:36] Syaba999 commented on #12
Ok

[2020-08-07 02:54] fayeed commented on #22
Just merged a PR by @GuruJohn, which should fix this issue. Also, Readme is also updated with new instructions, do check & let me know if you guys face any new problems.

[2020-08-07 02:55] fayeed commented on #47
@anmolresourceone @rusowyler can you guys check the new version `1.4.0`, and let me know if you face the same issue or not.

[2020-08-10 09:37] chiragmevada opened #50 "conversation screen shows only loading !"
i am trying to configure freshchat since 5 days and not done yet !
i successfully created user in freshchat but when i trying to open conversation screen it shows only loading , just loading, not also getting any error ! why ?
in your 2nd step for setup "FreshchatMessagingService"need to be added in MainActivity directory but why this class is not there in your repository ?
in short i am not able

[2020-08-10 10:30] fayeed commented on #50
If you are seeing a loading screen that is not a problem with this package, It is most likely from the Freshchat itself or the Freshchat Android package.

On this note let me also make few things clear to you, this is not an official Freshchat Flutter Plugin.

1. `FreshchatMessagingService` is not part of the official Freshchat Android package if you think it should be you can create an issue ther

[2020-08-10 11:50] chiragmevada commented on #50
Thank you for replying me !
Actually i want to tell you that, i just clone your repository and change
my freshchat_id, key and domain and run the project and then don't know why
showing only loading,and i dont know what have to do ?
And don't know where is the problem.
Can you suggest me please where i should have to look-out to solve this
problem !
Thank you !

On Mon 10 Aug, 2020, 4:00 PM Fayeed

[2020-08-12 06:58] chiragmevada commented on #50
Hello sir ,
I sent a query to you regarding implementation of freshchat and having
issue of "showing loading screen while open conversation"
I checked all things in my fresh chat demo project and already have
appkey,id,domain
Kindly help me to lookout this problem !

[2020-08-28 04:27] bhanuka96 opened #51 "App restarts when click back button(system back button / appBar back button)[BUG]"
App restarts when clicking the back button(system back button/app bar back button).

This happening only for my Galaxy J7 2015 device. my whole data is removed after this. How do I fix this?

Device Info: Android 6.0.1, Model SM-J700F

[2020-09-09 09:15] DmytroB36 commented on #32
@fayeed Could you please indicate on what path inside the plugin I can find the native code for android and for ios to modify the theme?

[2020-09-10 02:58] fayeed commented on #32
@nilecrocodile Follow the link mentioned in this reply

[2020-10-07 11:42] DmytroB36 opened #52 "How to update the FreshchatSDK.h using shell-script?"
You have the following in your documentation:
`Manually in xcode update the FreshchatSDK.h to be in the flutter_freshchat target and public.`

We are trying to configure DI, and we need to do this using a shell-script. Could you please point out how we can do this step using a shell-script?

[2020-10-14 09:51] julian247 commented on #12
Unfortunately the suggested solution does not work for me (iOS & android). Have you been able to solve the problem in the meantime?

Thanks a lot in advance.

[2020-10-14 10:05] julian247 commented on #12
@Syaba999 @fayeed I have to correct: With Android it works without problems. But not with iOS.

[2020-11-02 06:49] ashim-ux commented on #11
by changing restoreId == "" to restoreId.equals("") in FlutterFreshchatPlugin in android module, empty restoreId issue will be resolved

[2020-11-05 04:42] ccfiel commented on #52
is this possible @fayeed ? :)

[2020-11-05 09:38] ccfiel commented on #52
@nilecrocodile  do you have any workaround for this? this is important if you are running ci/cd

[2020-11-05 16:13] DmytroB36 commented on #52
@ccfiel hi!
Roughly speaking - no. But I found a solution like this:

https://stackoverflow.com/questions/52948110/xcode-how-to-change-files-target-membership-via-command-line

Although this particular implementation did not suit me either, because these actions need to be performed AFTER performing "pod install", and BEFORE the "flutter build ios" command. And this cannot be done in Codemagic, si

[2020-11-05 16:22] ccfiel commented on #52
@nilecrocodile nice! Maybe we can use fastlane codemagic also support it. Can you share your script how ta make it public?

[2020-11-05 16:28] DmytroB36 commented on #52
the script was not ready because I realized that I could not use it. But, my experience has shown that the Xcode works well with a project.pbxproj file in JSON format.

[2020-11-05 16:35] ccfiel commented on #52
@nilecrocodile ok thanks! 😀

[2020-11-05 17:12] ccfiel commented on #52
@nilecrocodile even if we solve the script it's impossible to build the app in command line because of the timing?

[2020-11-05 17:18] ccfiel commented on #52
@nilecrocodile I did some searching maybe this could be could be the solution for the timing? https://github.com/flutter/flutter/issues/53781

[2020-11-06 04:47] maevllc opened #53 "No compile error help"
I try to used the plugin with flutter 1.22 and show me the following error after try compile the apps

Note: /home/cesar/Descargas/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_freshchat-1.4.0/android/src/main/java/com/freshchat/flutter_freshchat/FlutterFreshchatPlugin.java uses unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.

If I continue with the message

[2020-11-09 05:36] ccfiel commented on #52
@nilecrocodile we have successfully build and deploy our app using codemagic and fastlane

just put this in your ios folder ( thanks Olasunkanmi T. for this script )
https://gist.github.com/ccfiel/ed6805d40a5105626fbb39dd8a758317

and in codemagic pre-publish script

[code]

I hope this helps

[2020-11-20 15:39] carman247 opened #54 "Theme Customization"
Hi,

Would it be possible to add the ability to customise the theme for both iOS and Android into this package?

Android
- https://support.freshchat.com/support/solutions/articles/229492-freshchat-android-sdk-themes-and-customizations

iOS
- https://support.freshchat.com/support/solutions/articles/229814-freshchat-ios-sdk-themes

Best regards,
Chris

[2020-11-26 07:19] nimi0112 commented on #50
@chiragmevada  how did you resolve this ?

[2020-11-26 08:19] chiragmevada commented on #50
Actually i entered wrong domain (my domain.com) while flutter freshchat
initializating, so I correct it as "HTTPS://msdk.in.freshchat.com" as my
app is used in India !

On Thu 26 Nov, 2020, 12:50 PM Nimish Nandwana, <notifications@github.com>
wrote:

[2020-11-26 17:56] daadu opened #55 "Handle deprecation of Freshchat SDK v3.3.0"
**Is your feature request related to a problem? Please describe.**
Freshchat SDK v3.3.0 might not function properly after December 2020. Check screenshot below for more details.

**Describe the solution you'd like**
Need to study API changes and upgrade to latest SDK

**Additional context**
Screenshot of email received from Freshchat
<img width="1108" alt="Screenshot 2020-11-26 at 11 24 04 PM" src

[2020-12-03 02:16] nimi0112 commented on #50
In my case, I made the domain `null` and then it worked.

[2020-12-20 13:38] akanksha820 commented on #22
How i make this (Manually in xcode update the FreshchatSDK.h to be in the flutter_freshchat target and public ) working when my ios build is built by codeMagic? I'm not seeing any code changes when we manually update the FreshchatSDK.h, please help me tracking this change so that my code doesnot break in the production release @fayeed

[2020-12-21 09:18] kaumudpa commented on #26
It looks like WEB integration is needed.

[2021-01-14 12:48] phil10xs commented on #11
How about iOS?? I am having issues with the FlutterFreshchat.identifyUser. Prints this error  Could not cast value of type 'NSNull' (0x7fff86b92b38) to 'NSString' (0x7fff86bb7bb0). And crashes when it tries to identify user. What values do I use for externalID  and restoreID to prevent crash..

[2021-01-16 00:16] phil10xs commented on #22
Hello how were you able to build the iOS in production successfully

[2021-01-16 00:20] phil10xs commented on #52
"bundle exec fastlane release" returns 'Could not locate Gemfile or .bundle/ directory'. How were you successful with your build please??

And how may I deploy with code magic and fastlane as well. Thanks in advance

[2021-01-17 09:16] louna-akkad commented on #12
anyone was able to make it working with iOS & andriod?

[2021-01-20 10:48] MuhammedRefaat opened #56 "[BUG] Can't build for iOS"
**Describe the bug**
When trying to build my app for iOS, I'm getting a lot of errors related to FreshChat that makes the app fails to build

**To Reproduce**
Just try to run the command 'Flutter build ios'

**Expected behavior**
it should make a successful build

**Desktop (please complete the following information):**
 - OS: Mac OS (11.1)
 - Device: Generic build for iOS
 - Freshchat Version: 1.

[2021-01-21 08:29] #56 closed, assigned to nobody

[2021-01-21 08:30] MuhammedRefaat commented on #56
has been resolved by changing the current version

[2021-02-04 06:27] nimi0112 commented on #56
@MuhammedRefaat  which version did you checkout to ?

[2021-02-04 13:34] kent-cabarle commented on #12
Works on android, but not on IOS.

[2021-02-04 14:26] MuhammedRefaat commented on #56
I've updated to:
`flutter_freshchat: ^1.4.0
`
and it worked fine, but after that I've faced some issues so I forked it and did some changes, and now I'm using mine:

[code]

[2021-02-08 02:34] nimi0112 commented on #56
Thanks @MuhammedRefaat is this version working well and not causing any build problems?

[2021-02-08 06:17] MuhammedRefaat commented on #56
for me it works, just need to set the freshchat header file file to public as mentioned in the package readme part to avoid non-modular error.

[2021-02-11 05:50] nimi0112 commented on #56
@MuhammedRefaat when we run `flutter build ios` it again does pod install and it settings we have done in the pods get changed and it again gives the error. How to handle this part?

[2021-03-02 07:57] wangxingxing123654 opened #57 "how to hide powered by freshchat in showConversations dialog?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-04 12:01] silverAndroid commented on #12
For iOS, you should be able to debug why the notification isn't arriving. (It's React Native docs but should help the same) https://support.freshchat.com/support/solutions/articles/50000002925-steps-to-debug-react-native-ios-push-notification

[2021-05-18 17:10] Sunsiha opened #58 "could not build Objective-C module 'flutter_freshchat'(Not able to take iOS build)"
In one of my project Iam using flutter_freshchat integration. In that am facing an issue in iOS, when I add flutter_freshchat: ^1.3.0 in pubspec.yaml. Am not able to build only with this. Am getting error the following;

`<module-includes>:1:9: note: in file included from <module-includes>:1:#import "Headers/flutter_freshchat-umbrella.h"        ^/Users/docty/Workspace/Projects/Docty/ios/Pods/Targe

[2021-06-05 15:21] therngbtg opened #59 "[BUG] package:flutter_freshchat Cannot run with sound null safety"
I can't run with Null-safety
[
Error: Cannot run with sound null safety, because the following dependencies
don't support null safety:

 - package:flutter_freshchat

For solutions, see https://dart.dev/go/unsound-null-safety

FAILURE: Build failed with an exception.
]

[2021-12-03 19:14] teknofreek commented on #12
Hello. Please make it work for iOS. I tried everything but it doesn't work. Was anybody able to make it work?

[2021-12-29 15:58] dynacorp commented on #12
@teknofreek it still doesn't work, I have tried all I can, it's not connecting via the APN certificates or AuthKeys(Firebase)... if anyone has done this please put us through

[2021-12-30 05:39] MuhammedRefaat commented on #12
Actually I've switched to use the official plugin released by freshchat for flutter.

[2022-06-01 15:13] Ashwaq3 opened #61 "Null safety support and V2 Embedded"
The new update of flutter support these features and I can’t really run the app normally.

I want an update of the package to support these features .

[2022-06-02 04:59] fayeed commented on #61
There is an official package for freshchat now  https://pub.dev/packages/freshchat_sdk

[2022-06-02 04:59] #61 closed, assigned to nobody

[2022-06-02 04:59] fayeed commented on #59
There is a official package now https://pub.dev/packages/freshchat_sdk

[2022-06-02 04:59] #59 closed, assigned to nobody